body {
  background-color: #1e1e3a;
  background-image: linear-gradient(
    225deg,
    #ad0062 0%,
    #442063 50%,
    #0062a8 100%
  );

  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
}

h1 {
  color: cyan;
}

h5 {
  color: yellow;
  margin: 0;
}

p {
  font-size: 14px;
}

.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid white;
  border-left: 10px dodgerblue solid;
  animation: rotar 0.5s infinite linear;
}

img {
  max-height: 200px;
}

header {
  font-size: 22px;
}

@keyframes rotar {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
